
body {
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.centerContent {
    margin:auto;
    width:100%;
    min-width:300px;
    max-width:600px;
    text-align: center;
    overflow: hidden;
}

.rotator {
    padding-top:8%;
    width: 480px;
    margin: auto;
}

/* IMAGES */

@media only screen and (max-width: 1000px) {

    #rogers {
    display:none;
    }
}

#rogers {
    position:fixed;
    bottom:0;
    left:-200px;
}

#rogers img {
    width:100%;

}


/* BUTTON */

button {
    color:#ecf0f1;
    background-color:#172b33;
    padding:10px 20px;
    border: 1px solid #172b33;
    min-width:100px;
    
}

button:hover {
    box-shadow: 0 5px 10px #666;
    cursor: pointer;
}

button:active {
  transform: translateY(4px);
}


/* TEXT */
.textGenerator {
    width:100%;
}

.textGenerator button {
    margin: 20px;
}

.textGenerator p {
    color:#172b33;
    font-size:14px;
    font-family: times new roman, sans-serif;
    text-align: left;
}

#quotes {
    padding:50px;
    
}

#slideramount {
   font-weight: bold; 
}

.togText {
    position: relative;
    top: -20px;
    left: 313px;
}

.togText p {
    position:absolute;
    color:#172b33;
    font-family: "Lato", sans-serif;
}


/* TITLE */

@media only screen and (max-width: 600px) {
    .title {
        padding-top:50px;
    }
}

.title {
    margin: -40px 0 50px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: #971414;
}

.title h1 span {
    font-family: times new roman, sans-serif;
    font-size: 18px;
    color: #172b33;
    font-style: italic;
}

/* SLIDER */

.slidecontainer {
    width: 100%;
    padding:30px 0;
    margin:auto;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    background: #172b33;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-self: center;
    margin: 20px auto;
    
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #971414;
    cursor: pointer;
    border-radius:50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #971414;
    cursor: pointer;
    border-radius:50%;
}


/* TOGGLE */
.switchPosition {
  position: relative;
  top: 22px;
  left: 186px;

}
.switch {
  position:absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin:auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The toggle slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #172b33;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #172b33;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

/* TEXT ROTATOR */

@media only screen and (max-width: 600px) {
    .content {
        display:none;
    }
}
.content {
  margin:20px 0;
  transform: translate(0, 0);
  height: 60px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #971414;

}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}
.content__container:before {
  content: "[";
  left: 0;
}
.content__container:after {
  content: "]";
  
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #971414;
  font-size: 42px;
  line-height: 40px;
  
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
  padding-left: 30px;
}
.content__container__list {
  margin-top: -1px;
  padding-left: 262px;
  text-align: left;
  list-style: none;
  color: #172a32;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

/* text rotator movement */
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%, 45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%, 62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%, 79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%, 95.96% {
    transform: translate3d(0, -25%, 0);
  }
}


