.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


@font-face {
font-family: 'rogers';
src: url('css/ROGERS.TTF');
}

.red {
    color:#cc0000;
}

.topSection {
    height:900px;
    background-color:#fff;
    border: 50px solid #cc0000;
    box-shadow:  1px 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

#down {
    position:absolute;
}

#down img {
    position relative;
    top:0;
    left:0
}

.rogersText {
    font-family: 'rogers';
}

.innerContainer {
    background-color:#fff;
    font-family: verdana;
    max-width:900px;
    margin: auto;
}

h1 {
    
}

h5 {
    display:inline-block;
    font-family: 'rogers';
    color:#fff;
}

